<!DOCTYPE html>
<html>

<head>
    <title>Practice Tracker</title>
    <script src="https://unpkg.com/vue@next"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
<!--this div will contain all the text/data that view wi-- work with:-->
    <div id="app">

        <!-- 5. TODOne display the name of the activity (add mustache syntax)-->
<!--        <h1 class="text-center">Time Tracker</h1>-->
        <h1 class="text-center">{{ activity }} Time Tracker</h1>

        <div id="add-hours" class="card">

            <h2 class="card-header">Add Records</h2>
            <div class="card-body">
               
                <!-- TODO use v-if to show this if there are validation errors -->
                <div class="alert alert-danger">
                    <!-- TODO show a list of validation errors from form -->
                </div>

                <div class="form-group">
                    <!-- TODO display name of activity in the label -->
                    <label class="form-label" for="date">What date did you do this activity?</label>
                    <!-- 14b. TODO use v-model to connect this input to dateString data -->
<!--                    <input id="date" class="form-control" type="date">-->
                    <input id="date" class="form-control" type="date" v-model="dateString">
                    <small id="date-help" class="form-text text-muted">
                        Date must be today or in the past.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-label" for="hours">How many hours did you exercise?</label>
                    <!-- 8. TODO use v-model to connect this input to hours data -->
<!--                    <input id="hours" class="form-control" type="number" min="0" max="24">-->
<!--                    added v-model="hours" (the name of the data property) basic version: -->
<!--                    <input id="hours" class="form-control" type="number" min="0" max="24" v-model="hours">-->
<!--                    add a modifier in v-model to help vue remove non-numeric data: -->
                    <input id="hours" class="form-control" type="number" min="0" max="24" v-model.number="hours">
                    <small id="hours-help" class="form-text text-muted">
                        Enter a number of hours, more than 0, up to a maximum of 24
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-label" for="type">What type of exercise did you do?</label>
                    <!--  TODO Create select element, use v-model to connect to the types (the property created in the let app = Vue.createApp( type:) -->

                    <!-- 10. TODO Use v-for to create option elements, one for each type -->
<!--                    bootstrap class form control will make this consistent with other components:
                        **when you use v-model with type, whatever the choice is will be whatever the type is set to: -->
                    <select class="form-control" v-model="type">
<!--                        11. set up our options using v-for because there might be MANY options-->
<!--                        v-for will duplicatet this option once for every activity type in the types array: -->
                        <option v-for="activityType in types">{{ activityType }}</option>
                    </select>
                </div>

                <div class="form-label pb-2">
                    Where did you exercise?
                </div>
<!--            Radio buttons, if you select one, the other will unselect!!-->

<!--                pause vid 5 18:40 for lunch-->
                <div class="form-check-inline">
<!--                     TODOne v-model location -->
<!--                    12. Add vue model to both radio buttons just below vvv: -->
<!--                <input id="location1" class="form-check-input" type="radio">-->
<!--                    13a. Add a value attribute-->
<!--                    <input id="location1" class="form-check-input" type="radio" v-model="locations">-->
                    <input id="location1" class="form-check-input" type="radio" value="Outdoors" v-model="locations">
<!--                    13b.Set a value and display some text:-->
<!--                <label class="form-check-label" for="location1">  TODOne Display text </label>-->
                    <label class="form-check-label" for="location1">Outdoors</label>
                </div>

                <div class="form-check-inline">
                    <!-- TODOne v-model location -->
<!--                    12. Add vue model to both radio buttons just below vvv: -->
<!--                <input id="location2" class="form-check-input" type="radio">-->
                    <!--13a. Add a value attribute-->
<!--                    <input id="location2" class="form-check-input" type="radio" v-model="locations">-->
                    <input id="location2" class="form-check-input" type="radio" value="Indoors" v-model="locations">
<!--                    13b.Set a value and display some text:-->
<!--                    <label class="form-check-label" for="location2">  TODOne Display text </label>-->
                    <label class="form-check-label" for="location2">Indoors</label>
                </div>

                <div>
                    <!-- TODO Add v-on:click -->
                    <button class="btn btn-primary mt-2" type="button">Add record</button>
                </div>
            </div>
        </div>

        <div class="card">
            <h2 class="card-header">Activity Records</h2>

            <div class="card-body">

                <h3> <!-- TODO Display number of records --> records</h3>

                <div id="records">
                    <table class="table table-hover">
                        <tr>
                            <th>Date</th>
                            <th>How many hours?</th>
                            <th>Type</th>
                            <th>Location</th>
                        </tr>
                        <!-- TODO use v-for to create one table row for each activity record -->
                    </table>
                </div>
            </div>
        </div>


        <div class="card">
            <h2 class="card-header">Summary</h2>

            <div class="card-body">

                <!-- TODO add computed property to calculate the total hours -->
                <p>You have exercised a total of <!-- TODO display total hours --> hours</p>

                <!-- Challenge question! Display a list of the total hours for each type.  -->
            </div>
        </div>
    </div>

    <script>

<!--        Todone create new Vue app here:-->
// 1.
    let app = Vue.createApp({
        //3. add data:
        data(){
            return{
                //4. create first piece of data, name of type of activity:
                activity: 'Exercise',
            //    6. save data that is input in an array:
                activityRecords: [], //empty array

            //    7. add other properties that work with v-model to
            //     work with the form data:
            //     14a. rename date to dateString:
            //     date: '', //empty string
                dateString: '', //empty string
                hours: 1, //default value on the form will be 1
                //11. match the type and first types array item
                type: 'Biking', //if this type matches the first item in the array types (below), this will
                //show up in the toggle <select> bar as the first one chosen.
                locations: 'outside', //clara used medium: for her data

            //    9. create an array of the types of exercise that will be used with the select-option in
                //    form for the user to select the type.
                types: ['Biking', 'Walking', 'Running', 'Rowing']
            }
        }
    })

//2.
app.mount('#app')

    </script>

</body>

</html>