<!DOCTYPE html>
<html>

<head>
    <title>Practice Tracker</title>
    <script src="https://unpkg.com/vue@next"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
<!--this div will contain all the text/data that vue will work with:-->
    <div id="app">

        <!-- 5. TODOne display the name of the activity (add mustache syntax)-->
<!--        <h1 class="text-center">Time Tracker</h1>-->
        <h1 class="text-center">{{ activity }} Time Tracker</h1>

        <div id="add-hours" class="card">

            <h2 class="card-header">Add Records</h2>
            <div class="card-body">
                <!-- 18a. TODOne use v-if to show this if there are validation errors -->
<!--                <div class="alert alert-danger">-->
                    <div class="alert alert-danger" v-if="errors.length > 0">
                    <!-- 19. TODOne show a list of validation errors from form -->
                        <ul>
                           <li v-for="error in errors">{{ error }}</li>
                        </ul>
                </div>

                <div class="form-group">
                    <!-- TODOne display name of activity in the label -->
                    <label class="form-label" for="date">What date did you do this activity?</label>
                    <!-- 14b. TODOne use v-model to connect this input to dateString data -->
<!--                    <input id="date" class="form-control" type="date">-->
                    <input id="date" class="form-control" type="date" v-model="dateString">
                    <small id="date-help" class="form-text text-muted">
                        Date must be today or in the past.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-label" for="hours">How many hours did you exercise?</label>
                    <!-- 8. TODOne use v-model to connect this input to hours data -->
<!--                    <input id="hours" class="form-control" type="number" min="0" max="24">-->
<!--                    added v-model="hours" (the name of the data property) basic version: -->
<!--                    <input id="hours" class="form-control" type="number" min="0" max="24" v-model="hours">-->
<!--                    add a modifier in v-model to help vue remove non-numeric data: -->
                    <input id="hours" class="form-control" type="number" min="0" max="24" v-model.number="hours">
                    <small id="hours-help" class="form-text text-muted">
                        Enter a number of hours, more than 0, up to a maximum of 24
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-label" for="kind">What kind of exercise did you do?</label>
                    <!--  TODO Create select element, use v-model to connect to the types (the property created in the let app = Vue.createApp( type:) -->

                    <!-- 10. TODOne Use v-for to create option elements, one for each type -->
<!--                    bootstrap class form control will make this consistent with other components:
                        **when you use v-model with type, whatever the choice is will be whatever the type is set to: -->
                    <select class="form-control" v-model="kind">
<!--                        11. set up our options using v-for because there might be MANY options-->
<!--                        v-for will duplicate this option once for every activity kind in the kinds array: -->
                        <option v-for="activityKind in kinds">{{ activityKind }}</option>
                    </select>
                </div>

                <div class="form-label pb-2">
                    Where did you exercise?
                </div>
<!--            Radio buttons, if you select one, the other will unselect!!-->

                <div class="form-check-inline">
<!--                     TODOne v-model location -->
<!--                    12a. Add vue model to both radio buttons just below vvv: -->
<!--                <input id="location1" class="form-check-input" type="radio">-->
<!--                    13a1. Add a value attribute-->
<!--                    <input id="location1" class="form-check-input" type="radio" v-model="locations">-->
                    <input id="location1" class="form-check-input" type="radio" value="Outdoors" v-model="locations">
<!--                    13b1.Set a value and display some text:-->
<!--                <label class="form-check-label" for="location1">  TODOne Display text </label>-->
                    <label class="form-check-label" for="location1">Outdoors</label>
                </div>

                <div class="form-check-inline">
                    <!-- TODOne v-model location -->
<!--                    12b. Add vue model to both radio buttons just below vvv: -->
<!--                <input id="location2" class="form-check-input" type="radio">-->
                    <!--13a2. Add a value attribute-->
<!--                    <input id="location2" class="form-check-input" type="radio" v-model="locations">-->
                    <input id="location2" class="form-check-input" type="radio" value="Indoors" v-model="locations">
<!--                    13b2.Set a value and display some text:-->
<!--                    <label class="form-check-label" for="location2">  TODOne Display text </label>-->
                    <label class="form-check-label" for="location2">Indoors</label>
                </div>

                <div>
                    <!-- 15a. TODOne Add v-on:click , (then move to vue app to add a submit method)-->
<!--                    <button class="btn btn-primary mt-2" type="button">Add record</button>-->
                    <button class="btn btn-primary mt-2" type="button" v-on:click="submit">Add record</button>
                </div>
            </div>
        </div>

        <div class="card">
            <h2 class="card-header">Activity Records</h2>

            <div class="card-body">

<!--                <h3> &lt;!&ndash; TODOne Display number of records &ndash;&gt; records</h3>-->
<!--                <h3> &lt;!&ndash; 22b. TODOn Display number of records &ndash;&gt; records</h3>-->
<!--                <h3>{{ totalRecords }} records</h3>-->
<!--                23b3.-->
                <h3> {{ totalRecordsMessage }} </h3>
                <div id="records">
                    <table class="table table-hover">
                        <tr>
                            <th>Date</th>
                            <th>How many hours?</th>
                            <th>Kind</th>
                            <th>Location</th>
                        </tr>
                        <!-- 16. TODOne use v-for to create one table row for each activity record -->
                        <tr v-for="record in activityRecords">
<!--                            20b. from method call that formats the date into a readable format:-->
<!--                            <td> {{ record.date }} </td>-->
                            <td> {{ shortDate(record.date) }} </td>
                            <td> {{ record.hours}} </td>
                            <td> {{ record.kind}} </td>
                            <td> {{ record.locations}} </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


        <div class="card">
            <h2 class="card-header">Summary</h2>

            <div class="card-body">

                <!-- 24b. TODOne add computed property to calculate the total hours -->
<!--                <p>You have exercised a total of &lt;!&ndash; TODOne display total hours &ndash;&gt; hours</p>-->
                <p>You have exercised a total of {{ totalHours }} hours</p>

                <!-- Challenge question! Display a list of the total hours for each type.  -->
            </div>
        </div>
    </div>

    <script>

<!--        Todone create new Vue app here:-->
// 1.
        let app = Vue.createApp({
            //3. add data:
            data(){
                return{
                    //4. create first piece of data, name of type of activity:
                    activity: 'Exercise',
                //    6. save data that is input in an array:
                    activityRecords: [], //empty array

                //    7. add other properties that work with v-model to
                //     work with the form data:
                //     14a. rename date to dateString:
                //     date: '', //empty string
                    dateString: '', //empty string
                    hours: 1, //default value on the form will be 1
                    //11. match the kind and first kinds array item
                    kind: 'Biking', //if this kind matches the first item in the array kinds (below), this will
                    //show up in the toggle <select> bar as the first one chosen.
                    locations: 'Outdoors', //clara used medium: for her data

                //    9. create an array of the kinds of exercise that will be used with the select-option in
                    //    form for the user to select the kind.
                    kinds: ['Biking', 'Walking', 'Running', 'Rowing'],

                    // 17a.Create an errors array to start validating the input users are going to add
                    // via the submit method/button
                    errors: [] //empty array
                }
            },
        //    15b. add submit method here to allow the submit click button to work from 15a, be sure it's after the data end curly brace
            methods: {
                submit(){

                    // 17b. Working on validation: assume there are no errors.
                    this.errors = [] //empty array

                //    15c. this ^^^ submit button needs to use the data in the vue app (just above) to create an activity record object
                //     15d. convert date string YEAR-MO-DA (ex.2022-11-04) into a date object vvv:
                    let date = new Date(this.dateString) //will make a date object that represents the calendar date the user has selected.

                //    17c1. check all the things that might be wrong:
                //    makes sure date (just above ^^^) is a valid date: today or in the past:
                //    when you create a new date object from a date string, if it can't be converted into a date,
                //    it will be the string in valid date
                //    (if there is NO this.dateString, or the this.dateString is Invalid Date (spelling exact),
                    //    or date is greater than new Date, where date is the user selected date.
                    if (!this.dateString || this.dateString === 'Invalid Date' || date > new Date() ){
                        //this vvv will push the erros to the errors array (just above), and give a message to the user.
                        this.errors.push('Select a valid date, today or in the past.')
                    }
                    // 17c2. check if hours is less than or equal to zero:
                    if (this.hours <= 0 || this.hours > 24) {
                        //push the errors to the array with a message (as above in 17c1.)
                        this.errors.push('The number of hours must be greater than zero and less than or equal to 24.')
                    }
                    // 17c3. check that this.kind and this.locations have a selection by the user:
                    if(!this.kind){
                        this.errors.push('Please select a kind of exercise to log.')
                    }
                    // 17c4. check that a location was selected:
                    if(!this.locations){
                        this.errors.push('Please select the location you exercised.')
                    }
                    //at the very top, there is an alert to show a list of validation errors (18, go there)


                    // 17c5. Has at least one error been added to the errors array,
                    // if so something is wrong with the form, and we want to stop.
                    // However, if there were no errors: proceed vvv to adding the record:
                    if (this.errors.length === 0){
                    //    15e. Make the activity record object: (indent let record and add the closed curly
                    //    brace at the end of let record.
                        let record = {
                            date: date, //not this.date because we created a new object from the Date(this.dateString) called date just above
                            hours:  this.hours,
                            kind: this.kind,
                            locations: this.locations
                        }
                        //    add the above record ^^^ to the activity record
                        this.activityRecords.push(record)
                            // console.log(this.activityRecords)
                        // 21a. Sort the activity records by date:
                        //    javascript has the built-in function sort, but javascript doesn't know what goes first:
                        //    sort takes a function, that has two arguments: record 1 (r1), and record 2 (r2)
                        //    **javascript will call this function on every pair of records in the activity records array
                        this.activityRecords.sort(function(r1, r2){
                            //21b.
                            //    **what is returned will be used to figure out how things are sorted.
                            //getTime vvv returns a timestamp, and this return vvv will sort with the oldest records first,
                            // most recent at the end.:
                            //getTime() returns a number that is the number of seconds the date is since January 1, 1970
                            // (https://www.unixtimestamp.com/)
                            //this will return a positive or negative number that is used to sort the records (behind the scenes)
                            return r1.date.getTime() - r2.date.getTime()
                        })
                    }
                },
                //20a. Reformat the date information, so it is more readable on the site:(be sure it's after the submit method
                //    by checking the open and closed curly brace: shortDate(), takes one argument:
                shortDate(date){
                    //normal javascript: will return Intl (international date/time format)
                    //en-US = in english, United States format, UTC = universal time zone
                    return new Intl.DateTimeFormat('en-US', {timeZone: 'UTC'}).format(date)
                    // Info on the international dateTime constructor:
                    // https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/DateTimeFormat/DateTimeFormat
                //    move on to 20b (used in our template WAY above ^^^^)
                }
            },
        //    22a. Display total number of records by using the activityRecords array from ^^^ way above. Need to place this
        //    after the methods call (click on curly brace and see where the closed curly brace lights up at the end:
        //    Work with a computed property
            computed: {
            //    name a computed property that will represent the number of records:
            //     totalRecords() {
                    // 23b2.
                totalRecordsMessage() {
                    // return this.activityRecords.length
                //    use this in our template (all the way at the top ^^^22b. )
                //    23a. Modify computed property so 1 record and 2 records (etc.) are shown: grammar:
                //     if (this.activityRecords.length = 1) {
                //         return '1 record'
                //     } else {
                //         return this.activityRecords. length + 'records'
                //     }
                    // 23b1. write this another way
                    let numberOfRecords = this.activityRecords.length

                    if (numberOfRecords == 1) {
                        return '1 record'
                    } else {
                        return numberOfRecords + ' records'
                    }
                },
                // 24a. Add the total number of hours message:
                totalHours() {
                    let total = 0
                    this.activityRecords.forEach(function(record){
                        total = total + record.hours
                    })
                    return total
                    //    use this in the template to show the total number of hours ^^ above (24b)
                }
            }
        })

//2.
app.mount('#app')

    </script>

</body>

</html>