#records {
    max-height: 250px;
    /*if there are a lot of rows, it will make the page
    scroll instead of making the page very tall.: */
    overflow: scroll;
}
.noExercise{
    color: black;
}

.biking{
    color: black;
    font-style: italic;
    background-color: green;
}
.walking{
    color: black;
    font-style: italic;
    background-color: red;
}

.running{
    color: black;
    font-style: italic;
    background-color: yellow;
}

.rowing{
    color: black;
    font-style: italic;
    background-color: orange;
}